 <!DOCTYPE HTML>
<html ng-app = "WebApp">
		
		<head>
      <title> Configure DAQ </title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
			<link rel="stylesheet" type="text/css" href="css/format.css"></link>
			<script src = "js/app.js"></script>
			<script src = "js/controllers.js"></script>
			<script src="js/main.js"></script>
			
        </head>
		
		<body layout="column" layout-align="start center">
			
			 <div layout="row" ng-controller="navController">
				  	
				  	<md-button ng-click="toggleRight()"
            		ng-hide="isOpenRight()" class="md-icon-button md-accent" aria-label="Nav">
        				<md-icon  md-svg-icon="images/navIcon.svg"></md-icon>
      				</md-button>
					
			  </div>


		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Navigation</h1>
      </md-toolbar>
      <md-content ng-controller="navController" layout-padding>
        <form>
          
          <md-button onclick="window.open('overlay.html', '_self');" ng-click="close()" class="md-primary">
          View Data
          </md-button>
          <md-button onclick="window.open('manage_data.html', '_self');" ng-click="close()" class="md-primary">
          Manage Data 
          </md-button>
          <md-button onclick="window.open('system_config.html','_self');" ng-click="close()" class="md-primary">
          System Configuration
          </md-button>
          <md-button onclick="window.open('configure_DAQ.html','_self');" ng-click="close()" class="md-primary">
          Configure DAQs
          </md-button>

        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Navigation
        </md-button>
      </md-content>
    </md-sidenav>
			  
        <div flex>
			<h2 class="md-display-3">DAQ Summary</h2>
        </div>      

          <div flex layout="row" layout-align="space-around center" ng-controller="HomeController">
			
			<div layout="column" flex="25">
          		<h1>DAQ1</h1>
          		<h3>T1: <br>{{ D1T1 }} &deg F</h3>
          		<h3>T2: <br> {{ D1T2 }} &deg F</h3>
          		<h3>T3: <br> {{ D1T3 }} &deg F</h3>
          		<h3>Ambient: <br>{{ D1Amb }} &deg F</h3>
              <h3> Light: <br> {{ D1L }} lux</h3>
              <h3> Humidity: <br> {{ D1H }} %</h3>

          	</div>

          	<div layout="column" flex="12">
          
          	</div>

          	<div layout="column" flex="25">
          		<h1>DAQ2</h1>
          		<h3>T1: <br> {{ D2T1 }} &deg F</h3>
              <h3>T2: <br> {{ D2T2 }} &deg F</h3>
              <h3>T3: <br> {{ D2T3 }} &deg F</h3>
              <h3>Ambient: <br> {{ D2Amb }} &deg F</h3>
              <h3> Light: <br> {{ D2L }} lux</h3>
              <h3> Humidity: <br> {{ D2H }} %</h3>

          	</div>
          	<div layout="column" flex="12">
          
          	</div>

          	<div layout="column" flex="25">
          		<h1>DAQ3</h1>
          		<h3>T1: <br> {{ D3T1 }} &deg F</h3>
              <h3>T2: <br> {{ D3T2 }} &deg F</h3>
              <h3>T3: <br> {{ D3T3 }} &deg F</h3>
              <h3>Ambient: <br> {{ D3Amb }} &deg F</h3>
              <h3> Light: <br> {{ D3L }} lux</h3>
              <h3> Humidity: <br> {{ D3H }} %</h3>
          	</div>

          </div>

	  
			  
</body>

			
		

</html>