 <!DOCTYPE HTML>
<html ng-app = "WebApp">
		
		<head>
      <title> Live Data </title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
			<link rel="stylesheet" type="text/css" href="css/format.css"></link>
			<script src = "js/app.js"></script>
			<script src = "js/controllers.js"></script>
			<script src="js/main.js"></script>
			
        </head>
		
		<body layout="column" layout-align="start center">
			
			 <div layout="row" ng-controller="navController">
				  	
				  	<md-button ng-click="toggleRight()"
            		ng-hide="isOpenRight()" class="md-icon-button md-accent" aria-label="Nav">
        				<md-icon  md-svg-icon="images/navIcon.svg"></md-icon>
      				</md-button>
					
			  </div>


		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Navigation</h1>
      </md-toolbar>
      <md-content ng-controller="navController" layout-padding>
        <form>
          <md-button onclick="window.open('index.html', '_self');" ng-click="close()" class="md-primary">
          Home
          </md-button>
          <md-button onclick="window.open('overlay.html', '_self');" ng-click="close()" class="md-primary">
          View Data
          </md-button>
          <md-button onclick="window.open('manage_data.html', '_self');" ng-click="close()" class="md-primary">
          Manage Data 
          </md-button>
          <md-button onclick="window.open('system_config.html','_self');" ng-click="close()" class="md-primary">
          System Configuration
          </md-button>
          <md-button onclick="window.open('configure_DAQ.html','_self');" ng-click="close()" class="md-primary">
          Configure DAQs
          </md-button>

        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Navigation
        </md-button>
      </md-content>
    </md-sidenav>
			  

        

        <div>
			     <h2 class="md-display-2">Live DAQ Data</h2>
        </div> 

        <table  ng-controller="HomeController" border = "2" style="width:95%">
          <tr>
            <th class = "toprow"> Sensor Type </th>
            <th class = "toprow"> DAQ1 </th>
            <th class = "toprow"> DAQ2 </th>
            <th class = "toprow"> DAQ3 </th>
          </tr> 
          <tr>
            <th> Thermocouple 1 </th>
            <td width="250"> {{ D1T1 }} &deg C </td>
            <td width="250"> {{ D2T1 }} &deg C </td>
            <td width="250"> {{ D3T1 }} &deg C </td>
          </tr>
          <tr>
            <th> Thermocouple 2 </th>
            <td > {{ D1T2 }} &deg C </td>
            <td> {{ D2T2 }} &deg C </td>
            <td> {{ D3T2 }} &deg C </td>
          </tr>
          <tr>
            <th> Thermocouple 3 </th>
            <td> {{ D1T3 }} &deg C </td>
            <td> {{ D2T3 }} &deg C </td>
            <td> {{ D3T3 }} &deg C </td>
          </tr>
          <tr>
            <th> Ambient Temperature</th>
            <td> {{ D1Amb }} &deg C </td>
            <td> {{ D2Amb }} &deg C </td>
            <td> {{ D3Amb }} &deg C </td>
          </tr>
          <tr>
            <th> Light </th>
            <td> {{ D1L }} Lux </td>
            <td> {{ D2L }} Lux </td>
            <td> {{ D3L }} Lux </td>
          </tr>
          <tr>
            <th> Humidity </th>
            <td> {{ D1H }} % </td>
            <td> {{ D2H }} % </td>
            <td> {{ D3H }} % </td>
          </tr>
          <tr>
            <th> Heater Status </th>
            <td> {{ D1C }} </td>
            <td> {{ D2C }} </td>
            <td> {{ D3C }} </td>
          </tr>
        </table>     
	  
			  
</body>

			
		

</html>