 <!DOCTYPE HTML>
<html ng-app = "WebApp">
		
		<head>
      <title> System Configuration </title>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="http://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
			<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
			<link rel="stylesheet" type="text/css" href="css/format.css"></link>
			<script src = "js/app.js"></script>
			<script src = "js/controllers.js"></script>
			<script src="js/main.js"></script>
			
        </head>
		
		<body layout="column" layout-align="center center">
			
						 <div layout="row" ng-controller="navController">
				  	
				  	<md-button ng-click="toggleRight()"
            		ng-hide="isOpenRight()" class="md-icon-button md-accent" aria-label="Nav">
        				<md-icon  md-svg-icon="images/navIcon.svg"></md-icon>
      				</md-button>
					
			  </div>


		<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Navigation</h1>
      </md-toolbar>
      <md-content ng-controller="navController" layout-padding>
        <form>

          <md-button onclick="window.open('overlay.html', '_self');" ng-click="close()" class="md-primary">
          View Data
          </md-button>
          <md-button onclick="window.open('manage_data.html', '_self');" ng-click="close()" class="md-primary">
          Manage Data 
          </md-button>
          <md-button onclick="window.open('system_config.html','_self');" ng-click="close()" class="md-primary">
          System Configuration
          </md-button>
          <md-button onclick="window.open('configure_DAQ.html','_self');" ng-click="close()" class="md-primary">
          Configure DAQs
          </md-button>

        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Navigation
        </md-button>
      </md-content>
    </md-sidenav>
			  
			<h2 class="md-display-3">Configure System </h2>
			<div ng-controller="SystemConfigController"layout="column" layout-align="begin" class="colorNested" flex>
 			<md-button id="EnableDAQBtn" class="pinkbutton" ng-click="enableDAQClicked()" flex="10" > Disable/Enable DAQ </md-button>
			 <md-button id="MoveDAQBtn" ng-click="moveDAQClicked()" class="pinkbutton" flex="10"> Update DAQ Location </md-button>
  			<md-button class="pinkbutton" ng-click="convertClicked()" flex="10"> Convert Unit </md-button>
			</div>
			

       <div ng-controller="SystemConfigController" id="EnableModal" class="modal">

        <!--  Modal content -->
       <div class="modal-content">
         <span id="EnableSpan" class="close">x</span>
         <h3 align="center">List of DAQs</h3>
            <div>
              <md-switch aria-label="DAQ1" ng-model="daq_1_enabled" ng-true-value="'ON'" ng-false-value="'OFF'"> {{daq_array[0].Name}} </md-switch>
              <md-switch aria-label="DAQ2" ng-model="daq_2_enabled" ng-true-value="'ON'" ng-false-value="'OFF'"> {{daq_array[1].Name}} </md-switch>
              <md-switch aria-label="DAQ3" ng-model="daq_3_enabled" ng-true-value="'ON'" ng-false-value="'OFF'"> {{daq_array[2].Name}} </md-switch>
            </div>

          <md-button class="pinkbutton" flex="10" ng-click="enableSubmitClicked()" id="enableSubmitBtn"> Submit </md-button>

        </div>

      </div> 



			<div ng-controller="SystemConfigController" id="LocationModal" class="modal">

  			<!-- Modal content -->
 			 <div class="modal-content">
   			 <span id="LocationSpan" class="close">x</span>
   			 <h3>List of DAQs</h3>

   			 		<md-radio-group layout="row" ng-model="selectedDAQ" layout-align="center-none" flex="80">
   			 			Selected: {{selectedDAQ}}
   			 			<md-radio-button ng-repeat="daq in daq_array" ng-model="selectedDAQ" value= "{{daq.Name}}"> {{daq.Name}} </md-radio-button>

   			 		</md-radio-group>

			New Location:   <input type="text" value="" id="inputLocation"></input>
			<md-button class="pinkbutton" flex="10" ng-click="submitClicked()" id="submitBtn"> Submit </md-button>
  			</div>

			</div>  
</body>

</html>